@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --logo: #14c688;
  --bgrd: #131619;
  --bgdark: #0d0f10;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-logo: var(--logo);
  --color-bgrd: var(--bgrd);
  --color-bgdark: var(--bgdark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.text-logo {
  color: var(--logo);
}

.bg-bgrd {
  background: var(--bgrd);
}

.bg-dark {
  background: var(--bgdark);
}

.border-logo {
  border-color: var(--logo);
}

.border-dark {
  border-color: var(--bgdark);
}
